*

!.gitignore

!.icewm/
!.icewm/preferences
!.icewm/programs
!.icewm/winoptions
!.icewm/theme
!.icewm/menu
!.icewm/toolbar
!.icewm/keys
!.icewm/startup
!.icewm/vim.png

!bin/
!bin/m3u8
!bin/*.sh
!bin/*.c
!bin/backlight_control
!bin/my_poweroff
!bin/.backlight

!.backlight
!.bash_profile
!.bashrc
!.gdbinit
!.gitconfig
!.npmrc
!.tmux.conf
!.vimrc
!.xinitrc
!.xprofile

